/**
 * css-reset.css
 * @version 1.1.35
 * @author Hesong <hesong@ucweb.com>
 * @copyright 2004-2013 UCweb <www.uc.cn>
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,aside,article,figcaption,figure,header,hgroup,menu,nav,section{ margin:0;padding:0;}
body{ font-family:"微软雅黑","Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "\u5FAE\u8F6F\u96C5\u9ED1"; color:#333; -webkit-text-size-adjust:none;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
a{ text-decoration:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0; font-variant:normal;}
sup{ vertical-align:text-top;}
sub{ vertical-align:text-bottom;}
input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit;}
legend{ color:#333;}

html, body{ background:#f3f3f3; font-size:14px;}
a{ color:#105cb6;}
a[href*=".less"]{ color:#105cb6; padding-left:40px; padding-right:10px; background:url("../images/less.png") 0 1px no-repeat; background-size:40px;}
.center{ text-align:center;}
.mg5{ margin:20px 0; text-align:center;}
.grey{ color:#999; }
.grey-bg{ background:#555 !important; color:#fff;}
.orange{ color:#ff6600;}
.space{ height:50px; clear:both;}
.clearfix:after { content:""; display:block; height:0; clear:both; visibility:hidden;}

.wrapper{ min-width:1100px;}

#fw-header{ position:fixed; top:0; width:100%; height:50px; background:rgba(0,0,0,.7); z-index:12;}
    #fw-header .top-nav{ padding-left:20px; line-height:50px; overflow:hidden;}
    #fw-header .logo{ float:left; height:50px; padding:0 30px 0 60px; background:url("images/squirrel-logo.png") 10px 5px no-repeat; background-size:40px; font-size:22px; text-shadow:0 -1px 1px #252d38; color:#fff; cursor:default;}
    #fw-header .top-nav ul{ float:left; overflow:hidden;}
    #fw-header .top-nav li{ position:relative; float:left; min-width:70px; height:47px; padding:0 15px; text-align:center; }
    #fw-header .top-nav a{ position:absolute; top:0; left:0; right:0; bottom:0; color:#fff;}
    #fw-header .top-nav li:hover{ background:rgba(36,156,100,1); border-bottom:3px solid #38c483;}
    #fw-header .top-nav .active{ background:rgba(36,156,100,.8); border-bottom:3px solid #38c483;}

.banner{ position:relative; width:100%; padding-top:50px; border-bottom:1px solid #eee; /*box-shadow:inset 10px 0 50px rgba(0,0,0,.7);*/ background:#1b7769; background:-webkit-gradient(linear, left top, right bottom, color-stop(0%, #26aa78), color-stop(90%, #0b2b52));}
    .banner-bg{ position:absolute; top:0; left:0; bottom:0; right:0; background:url("images/gplaypattern.png"); overflow:hidden; opacity:.5;}
    /*.flat-bg{ position:relative; top:100px; left:50%; width:1400px; margin-left:-700px; opacity:.12;}
        .flat{ position:absolute; left:63px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
            .flat div{ position:absolute; top:-1000px; width:300px; height:4000px; border-left:1px solid #fff;}
            .flat .f1{ left:0; background:rgba(255,255,255,.2);}
            .flat .f2{ left:300px; background:rgba(255,255,255,.5);}
            .flat .f3{ left:600px; background:rgba(255,255,255,.7);}
        .sub-flat{ position:absolute; left:63px; -webkit-transform:rotate(45deg);}
            .sub-flat div{ position:absolute; top:-1000px; width:300px; height:4000px; border-left:1px solid #fff;}
            .sub-flat .f1{ left:0; background:rgba(255,255,255,.5);}
            .sub-flat .f2{ left:300px; background:rgba(255,255,255,.3);}
            .sub-flat .f3{ left:600px; background:rgba(255,255,255,.2);}*/
    .banner .introduce{ position:relative; top:40px; max-width:1400px; margin:0 auto; padding-bottom:60px; z-index:10; text-align:center; color:#eee;}
    .banner .download-btn,
    .banner .doc-btn{ display:inline-block; width:200px; height:45px; margin-top:20px; background:#ff6600; border-radius:2px; font-size:22px; color:#fff; text-align:center; line-height:45px;}
    .banner .download-btn:hover,
    .banner .doc-btn:hover{opacity:1; }
    .banner h1{ position:relative; width:540px; margin:0 auto; font-size:104px; margin-bottom:20px;}
    .banner sup{ position:absolute; top:10px; right:0px; font-size:16px; color:#eee;}
    .banner p{ font-size:40px;}
    /*.banner .download-btn { margin-right:15px; background:#00a0ef; border-bottom:5px solid #007dbb;}*/
    .banner .download-btn { margin-right:15px; background:#fd7660; border-bottom:5px solid #ca5b49;}
    .banner .doc-btn{ background:#f8b129; border-bottom:5px solid #b37d14; text-shadow:0 -1px 1px #b37d14;}
    
.toolbar{ height:50px; background:#d7d7d7; border-bottom:1px solid #bbb;}

.fw-version{ width:960px;padding-top:15px; margin:0 auto; text-align:center; font-size:12px;}
.fw-version li{ display:inline-block; margin:0 5px; padding:2px 10px; background:rgba(255,255,255,.3); border-radius:3px; color:#fff;}
.fw-version a{ color:#fff; text-decoration:underline;}

.features{ position:relative; width:940px; margin:30px auto; z-index:10;}
    .features-list{ position:relative; width:940px; height:400px; overflow:hidden;}
    .features-list ul{ position:absolute; top:0; left:0; width:2000px; overflow:hidden; letter-spacing:-4px;}
    .features-list li{ display:inline-block; position:relative; vertical-align:top; width:200px; margin:0 0 0 20px; padding:0 10px 20px; background:rgba(255,255,255,.2); border-radius:2px; border-bottom:6px solid rgba(255,255,255,.3); letter-spacing:0; /*-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);*/}
    .features-list li::after{ content:""; position:absolute; top:0; left:0; bottom:0; width:100%;}
    .features-list li:first-of-type{ margin-left:0;}
    .features-list .icon{ width:200px; height:150px; background:url("images/features.png") no-repeat;}
    .features-list .icon.html5{}
    .features-list .icon.system{ background-position:-200px 0;}
    .features-list .icon.media{ background-position:-400px 0;}
    .features-list .icon.amd{ background-position:-600px 0;}
    .features-list .icon.custom{ background-position:-800px 0;}
    .features-list .introduc{ width:200px;}
    .features-list .introduc h3{ margin:20px 0; font-size:22px; text-align:center; color:#fff;}
    .features-list .introduc p{ padding:0 5px; text-indent:2em; font-size:15px; line-height:1.5; text-align:justify; color:#b9ddcc;}

    .features-buttons{}
    .features-buttons .prev,
    .features-buttons .next{ position:absolute; top:50%; left:-70px; width:80px; height:80px; margin-top:-80px; cursor:pointer; border-left:6px solid #fff; border-bottom:6px solid #fff; -webkit-transform: rotate(45deg); opacity:.5;}
    .features-buttons .next{ left:auto; right:-70px; -webkit-transform: rotate(225deg);}
    .features-buttons .prev:hover,
    .features-buttons .next:hover{ opacity:1;}

.fw-content{ background:#ddd;}

.join-us{ position:relative; min-width:940px; margin:0 auto; padding:1px 0 40px; color:#666; text-align:center; overflow:hidden;}
    .join-us h1{  margin:45px auto; font-size:45px; text-shadow:0 1px 1px #fff;}
    .join-us h2{ margin:0 auto 30px; font-size:40px; color:#bbb;}
    .join-us ul{ display:inline-block; text-align:center; overflow:hidden;
        box-shadow: rgb(197, 197, 197) 1px 1px,
        rgb(198, 198, 198) 2px 2px,
        rgb(198, 198, 198) 3px 3px,
        rgb(199, 199, 199) 4px 4px,
        rgb(200, 200, 200) 5px 5px,
        rgb(200, 200, 200) 6px 6px,
        rgb(201, 201, 201) 7px 7px,
        rgb(202, 202, 202) 8px 8px,
        rgb(202, 202, 202) 9px 9px,
        rgb(203, 203, 203) 10px 10px,
        rgb(204, 204, 204) 11px 11px,
        rgb(204, 204, 204) 12px 12px,
        rgb(205, 205, 205) 13px 13px,
        rgb(206, 206, 206) 14px 14px,
        rgb(206, 206, 206) 15px 15px,
        rgb(207, 207, 207) 16px 16px,
        rgb(208, 208, 208) 17px 17px,
        rgb(208, 208, 208) 18px 18px,
        rgb(209, 209, 209) 19px 19px,
        rgb(209, 209, 209) 20px 20px,
        rgb(210, 210, 210) 21px 21px,
        rgb(211, 211, 211) 22px 22px,
        rgb(211, 211, 211) 23px 23px,
        rgb(212, 212, 212) 24px 24px,
        rgb(213, 213, 213) 25px 25px,
        rgb(213, 213, 213) 26px 26px,
        rgb(214, 214, 214) 27px 27px,
        rgb(215, 215, 215) 28px 28px,
        rgb(215, 215, 215) 29px 29px,
        rgb(216, 216, 216) 30px 30px,
        rgb(217, 217, 217) 31px 31px,
        rgb(217, 217, 217) 32px 32px,
        rgb(218, 218, 218) 33px 33px,
        rgb(219, 219, 219) 34px 34px,
        rgb(219, 219, 219) 35px 35px,
        rgb(220, 220, 220) 36px 36px,
        rgb(221, 221, 221) 37px 37px;
    }
    .join-us li{ display:inline-block; width:180px; padding:0 20px; border-left:1px dashed #aaa; vertical-align:top;}
    .join-us li:first-of-type{ border-left:none;}
    .join-us ul p{ min-height:120px; margin-top:20px; text-indent:2em; font-size:15px; line-height:1.5; text-align:justify;}
    .join-us h3{ font-size:22px; text-align:center;}
    .join-us a{ color:#080;}
    .join-us a:hover{ text-decoration:underline;}
    .join-us .sq-btn{ width:250px; height:40px; margin:30px auto 0; border-bottom-width:5px; font-size:20px; line-height:40px;}
    .user,
    .developer{ position:relative; padding:20px 0; background:#efefef;}
    .user{ margin-right:20px;}

.side-nav{ position:fixed; top:50px; left:0px; bottom:0; width:200px; background:#fff; border-right:1px solid #ccc; color:#999; z-index:99; overflow-y:scroll;}
    .side-nav ul{ position:relative;}
    .side-nav li{ box-sizing:border-box; position:relative; height:50px; border-bottom:1px solid #eee; line-height:50px; text-indent:20px;}
    .side-nav a{ position:absolute; top:0; right:0; left:0; bottom:0; color:#324154; text-shadow:0 1px 1px #ffffff; border-left:6px solid #ccc;}
    .side-nav .hd{ height:40px; background:#f7f7f7; color:#444; font-weight:bold; text-shadow:0 1px 1px #ffffff; line-height:40px;}
    .side-nav .active a{ border-left:6px solid #38c483;}
    .side-nav::-webkit-scrollbar,
    .side-nav::-webkit-scrollbar{ display:none;}
    .side-nav li em{ float:right; padding-right:10px; font-size:10px; color:#ccc; text-align:right;}
    
.more-nav{ display:block; position:fixed; left:175px; bottom:10px; width:15px; height:15px; border-radius:30px; background:#38c483; font-size:8px; color:#fff; text-align:center; line-height:18px; z-index:100; opacity:.8;}
.more-nav::before{ content:""; position:absolute; left:-5px; top:-5px; width:21px; height:21px; border-radius:30px; border:2px solid #38c483;}
#bottom{ background:#eee;}

/* iframe*/
/* modules*/
.dpl-frame{ position:absolute; top:40px; right:10px; bottom:30px; left:210px;}
    .dpl-frame iframe{ box-sizing:border-box; position:absolute; top:20px; left:0; right:0; bottom:0; width:100%; height:100%; border:1px solid #d7d7d7;}
    .dpl-container{ min-height:550px; padding:10px 40px 0 60px; background:#fff; overflow:hidden;}

.cm-content{ position:absolute; top:50px; right:10px; bottom:0px; left:220px; padding:10px 40px 0 60px; margin:10px auto; background:#fff; border:1px solid #ccc; border-radius:2px; box-shadow:0 1px 3px #ccc; overflow-y:scroll;}
    .checkbox{ min-width:20px; padding:0 20px 0 20px;}
    .checkbox input[type="radio"],
    .checkbox input[type="checkbox"]{ float:left; margin-left:-20px;}
    .checkbox .inline { display:inline-block; padding-top:5px;}

.dpl-module,
.cm-module{ position:relative; margin:20px 0 40px; padding-right:200px;}
.cm-module::after{ content:""; display:block; height:0; clear:both;}
.dpl-module.full,
.cm-module.full{ padding-right:0;}

.dpl-module > h3,
.module-level2 > h3,
.cm-module > h3{ margin:0 0 20px -20px; padding-bottom:5px; font-size:30px; border-bottom:1px solid #d7d7d7; clear:both;}

.dpl-module > h4,
.module-level2 > h4,
.cm-module > h4{ margin:40px 0 20px; font-size:20px; font-weight:bold; color:#999;}

.dpl-module > h5,
.module-level2 > h5,
.cm-module > h5{ position:relative; margin:20px 0; font-size:18px; color:#333; z-index:10;}

.dpl-module > h4[id],
.module-level2 > h4[id],
.cm-module > h4[id]{ color:#333;}

.dpl-module > p,
.module-level2 > p,
.demo > p,
.cm-module > p{ margin:20px 0; font-size:16px; line-height:28px; color:#666;}

.dpl-module > h3 + p,
.dpl-module > h4 + p,
.cm-module > h3 + p,
.cm-module > h4 + p
.module-level2 > h3 + p,
.module-level2 > h4 + p{ margin-top:20px;}

.dpl-module .demo-btn{ display:inline-block; min-width:200px; height:40px; background:#38c483; border-bottom:5px solid #299c5d; border-radius:2px; font-size:22px; color:#fff; text-align:center; line-height:40px;}

blockquote{ margin:20px 0; padding-left:20px; border-left:5px solid #d7d7d7; font-size:16px; line-height:28px; color:#666;}

.module-level2{ position:relative; margin:50px 0 20px; padding:1px 40px 40px; background:#f7f7f7; border-radius:10px; box-shadow:inset 0 1px 3px rgba(0,0,0,.2);}
.module-level2::before{ content:""; position:absolute; top:-15px; left:80px; width:30px; height:30px; background:#f7f7f7; box-shadow:inset 0 1px 3px rgba(0,0,0,.2); -webkit-transform: rotate(45deg);}
.module-level2::after{ content:""; position:absolute; top:1px; left:77px; width:37px; height:30px; background:#f7f7f7;}

.select-list{ float:left; width:28%; margin-right:5%;}
.select-list h4{ margin-top:10px; margin-bottom:10px; padding-bottom:5px; border-bottom:1px dashed #d7d7d7;}
.select-list ul{ padding-left:10px;}

.sidebar{ position:fixed; width:200px; top:10px; right:10px; min-height:100px; background:#f7f7f7; border:1px solid #d7d7d7; overflow:hidden; z-index:99;}
    .cm-content .sidebar{ top:80px; right:38px;}
    .sidebar .anchor ul{ padding:5px;}
    .sidebar .anchor li{ position:relative; height:35px; padding:0 14px; border-bottom:1px solid #eee; border-top:1px solid #fff; border-left:3px solid #eee; line-height:36px; text-indent:1em;}
    .sidebar .anchor .level-1{ text-indent:1em;}
    .sidebar .anchor .level-1::before{ display:none;}
    .sidebar .anchor .level-2{ text-indent:2em;}
    .sidebar .anchor .level-3{ position:relative; text-indent:4em;}
    .sidebar .anchor .level-3::after{ content:""; position:absolute; top:-1px; left:2em; height:37px; border-left:2px solid #e1e1e1;}
    .sidebar .anchor li:last-of-type{ border-bottom:none;}
    .sidebar .anchor a{ position:absolute; top:0; right:0; left:0; bottom:0; color:#324154; text-shadow:0 1px 1px #ffffff; z-index:1;}
    .sidebar .components ul{ padding:5px;}
    .sidebar .components li{ position:relative; height:35px; padding:0 14px; border-bottom:1px solid #eee; border-top:1px solid #fff; border-left:4px solid #eee; line-height:36px; text-indent:14px;}
    .sidebar .components li.tit{ text-indent:0; font-weight:bold;}

.dpl-module .demo{ max-width:500px; margin:20px 0;}
.dpl-module .demo.w240{ max-width:240px;}
.dpl-module .demo.w320{ max-width:320px;}
.dpl-module .demo.w640{ max-width:640px;}
.dpl-module .demo.w720{ max-width:1024px;}

.demo + .demo{ margin-left:80px; padding-left:60px; border-left:1px dashed #d7d7d7;}
.clearfix + h4{ margin-top:0;}

.fold-code{ height:21px; overflow:hidden;}
.fold-code .toggle{ width:100px; height:20px; margin-left:10px; background:#eee; box-shadow:inset 0 1px 2px #999; border-radius:3px 3px 0 0; line-height:20px; color:#999; text-align:center; cursor:pointer;}
.dpl-module code{ margin:0 4px; padding:0 4px; word-wrap:break-word; border:1px solid #d7d7d7; background-color:#f5f5f5; border-radius:3px; font:13px Consolas, Monaco, Andale Mono, monospace; color:#080; vertical-align:text-bottom; white-space:nowrap;}
.dpl-module pre{ max-width:800px; word-wrap:break-word; break-word:break-all;}
/*.dpl-module h3 + pre{ margin-top:20px;}*/

.iScroll::-webkit-scrollbar,
.iScroll::-webkit-scrollbar{width:8px;height:9px;}
.iScroll::-webkit-scrollbar-button:start:decrement,
.iScroll::-webkit-scrollbar-button:end:increment,
.iScroll::-webkit-scrollbar-button:start:decrement,
.iScroll::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.iScroll::-webkit-scrollbar-track-piece,
.iScroll::-webkit-scrollbar-track-piece{-webkit-border-radius:0;}
.iScroll::-webkit-scrollbar-thumb:vertical,
.iScroll::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(54,60,70,0.5);}
.iScroll::-webkit-scrollbar-thumb:horizontal,
.iScroll::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgba(54,60,70,0.5);}

#treecontainer .iScroll::-webkit-scrollbar-thumb:vertical,
#treecontainer .iScroll::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(0,0,0,0.06);-webkit-border-radius:4px}

.button-table{ width:100%; border:1px solid #d7d7d7;}
    .button-table tr{ border-top:1px solid #d7d7d7;}
    .button-table th{ border:1px solid #aaa; border-top-left-radius:3px; border-top-right-radius:3px; font-size:14px; line-height:30px; text-align:center; text-shadow:0 1px 1px #fff; overflow:hidden; background:#e5e5e5;}
    .button-table td{ min-width:120px; padding:5px 0; border-right:1px solid #d7d7d7; text-align:center;}

.todo{ margin:20px 0; padding-left:20px;}
.todo li{ padding:4px 0; line-height:18px; list-style:disc;}

/*参数表格*/
.params, 
.props{ width:100%; border-spacing:0; border:1px solid #d7d7d7; border-collapse:collapse;}
.params .name, 
.props .name, 
.name code { color: #A35A00; font-family: Consolas, 'Lucida Console', Monaco, monospace; font-size: 100%;}
.params td, 
.params th, 
.props td, 
.props th{ border:1px solid #d7d7d7; padding:5px; text-align:left; vertical-align:top; display:table-cell;}
.params thead th, 
.props thead th{ border:1px solid #aaa; border-top-left-radius:3px; border-top-right-radius:3px; font-size:14px; line-height:20px; text-align:center; text-shadow:0 1px 1px #fff; overflow:hidden; background:#e5e5e5;}

.params .params thead tr{ line-height:20px;}
.params h6{ margin:15px 0; font-size:14px;}
.params .params thead tr, 
.props .props thead tr{ background-color: #fff; font-weight: bold;}
.params th, 
.props th { border-right: 1px solid #ccc; }
.params thead .last, 
.props thead .last { border-right: 1px solid #ccc; }

.icon-list-bg{ width:500px; padding:0 10px;}
.icon-list-bg + .icon-list-bg{ margin-top:20px;}
.icon-list{ width:550px; line-height:35px; border-collapse:collapse;}
.icon-list tr{ position:5px;}
.icon-list td{ width:20%; position:5px;}
.icon-list .sq-icon{ margin:5px 5px 0 0;}

/**/
.fw-demo .sq-toolbar.header{ background:#999;}
.fw-demo .sq-toolbar.nav{ background:#999;}
.fw-demo .sq-toolbar.nav li{ border-right:1px solid #ccc;}
.fw-demo .sq-toolbar.nav li:last-of-type{ border-right:none;}

/*change-log*/
.change-log{}
.change-log .version{ position:relative; margin:10px 30px 10px 0; border:1px solid #d7d7d7; border-left:6px solid #38c483; overflow:hidden;}
.change-log h4{ float:left; width:70px; height:40px; padding-left:10px; line-height:40px;}
.change-log ul{ float:left; padding:10px;}
.change-log li{ position:relative; width:540px; margin:2px 0; padding-left:20px; line-height:1.4;}
.change-log .data{ position:absolute; top:0; right:0; width:80px; height:20px; text-align:center; line-height:20px; background:#e7e7e7; color:#999; font-size:12px; border-radius:0 0 0 2px;}
.change-log .up::before,
.change-log .add::before,
.change-log .fix::before,
.change-log .del::before{ position:absolute; top:0; left:0; display:inline-block; width:15px; height:15px; margin-right:8px; border-radius:2px; color:#fff; text-align:center; vertical-align:top;}

.change-log .up::before{ content:"^"; background:#2f99dc; line-height:18px;}
.change-log .add::before{ content:"+"; background:#a1c23c; line-height:12px;}
.change-log .fix::before{ content:"*"; background:#e25755; line-height:20px;}
.change-log .del::before{ content:"-"; background:#a9a7a7;}

#footer{ /*background:#2d2e2f;*/ background:#2d2e2f;}
#footer .bd{ padding:10px; min-height:70px; color:#eee; text-align:center; line-height:1.5;}
#footer .links{ margin:15px 0;}
#footer .links a{ position:relative; padding:0 15px;}
#footer .links a::after{ content:""; position:absolute; top:4px; right:0; width:1px; height:10px; background:#888;}
#footer .links a:last-of-type::after{ display:none;}
#footer a{ color:#eee;}
#footer a:hover{ text-decoration:underline;}
#footer .copyright{ width:300px; margin:10px auto;}
#footer .ft{ padding:10px; min-height:40px; background:#28292a; border-top:1px solid #232425;}