/*Global*/
.theme-ios7{ font-size:14px;}
.theme-ios7 a{ color:#007aff;}
/*.sq-btn{ border-radius:3px;}*/

/*sq-bars*/
.theme-ios7 .nav,
.theme-ios7 .toolbar,
.theme-ios7 .nav-tabs,
.theme-ios7 .pagination{ background:#f9f9f9;}
.theme-ios7 .nav .sq-icon{ font-size:1.5em;}

.theme-ios7 .nav-tabs a{ color:#929292;}
.theme-ios7 .nav-tabs .badge{ background:#ff3b30;}
.theme-ios7 .nav-tabs .active a{ color:#007aff;}

.theme-ios7 .search{ background:#c9c9ce;}
.theme-ios7 .label{ border-radius:4px;}
.theme-ios7 .label::before{ color:#8e8e93;}

/*sq-btn*/
.theme-ios7 .sq-btn.flat-blue{ color:#007aff; border:1px solid #007aff;}
.theme-ios7 .sq-btn.flat-blue:hover,
.theme-ios7 .sq-btn.flat-blue.active{ background:#007aff; color:#fff;}

/*sq-list*/
.theme-ios7 .text .list-item,
.theme-ios7 .media .list-item{ border-bottom:1px solid #c8c7cc;}
.theme-ios7 .text .list-item .badge{ padding:0 8px; border-radius:10px; background:#c8c7cc; color:#fff;}
.theme-ios7 .text .group-hd{ background:#efeff4; border-bottom-color:#c8c7cc;}
/*角标*/
.theme-ios7 .sq-list .hot::after{ content:"Hot"; position:absolute; top:-5px; left:-5px; padding:0 6px; background:#ff3b30; border-radius:10px; font-size:10px; color:#fff; font-style:normal; text-align:center;}
/**/
.theme-ios7 .tile .tit,
.theme-ios7 .window .tit{ color:#333;}
/*子导航栏*/
.theme-ios7 .sub-nav{ background:#fff;}
.theme-ios7 .sub-nav .extend{ left:10px; right:10px;}

.bottom-fixed{ position:fixed; left:0; right:0; bottom:0;}

/*应用列表*/
.app-list{}
.app-list .list-item{ border-bottom:1px solid #c8c7cc;}
.app-list .list-item a{ color:#333;}
.app-list .tit{}
.app-list dd{ color:#929292;}
.app-list .icon-right-open{ color:#c9c9ce;}

.rec-list{}
.rec-list .list-item{ border-bottom:1px solid #c8c7cc; border-right:1px solid #c8c7cc;}
.rec-list .list-item:nth-child(even){ border-right:none;}
.rec-list .list-item a{ color:#333;}

.thumbnails-lsit{ padding-left:1px;}
.thumbnails-lsit .list-item{ border:1px solid #c8c7cc; margin-left:-1px;}
.thumbnails-lsit .screenshot img{ width:90px;}
