.thumbnails.custom-style-thumbnail li {
  text-align: center;
}
.thumbnails.custom-style-thumbnail .thumbnail {
  display: inline-block;
  width: 106px;
  padding: 1px;
  background: #fff;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}
.thumbnails.custom-style-thumbnail .thumbnail img {
  display: block;
  width: 106px;
  height: 196px;
}
.thumbnails.custom-style-thumbnail .caption {
  position: relative;
  height: 24px;
  margin-top: -24px;
  z-index: 1;
}
.thumbnails.custom-style-thumbnail .title {
  height: 24px;
  margin: 0;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
}
.thumbnails.custom-style-thumbnail .extend {
  padding: 4px 3px 3px 3px;
  overflow: hidden;
}
.thumbnails.custom-style-thumbnail .rank {
  position: relative;
  float: left;
  padding: 4px 0 0 19px;
  color: #f89104;
}
.thumbnails.custom-style-thumbnail .sq-btn {
  float: right;
}
.thumbnails.custom-style-thumbnail .heart,
.thumbnails.custom-style-thumbnail .star {
  position: absolute;
  -webkit-transform: scale(0.8);
  top: -1px;
  left: -2px;
}
@media screen and (max-width: 320px) {
  .thumbnails.custom-style-thumbnail .thumbnail {
    width: 97px;
  }
  .thumbnails.custom-style-thumbnail .thumbnail img {
    display: block;
    width: 97px;
    height: 179px;
  }
  .thumbnails.custom-style-thumbnail .rank {
    padding-top: 3px;
    padding-left: 10px;
  }
  .thumbnails.custom-style-thumbnail .star {
    -webkit-transform: scale(0.5);
    top: -2px;
    left: -8px;
  }
}
