<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="../../build/css/squirrel.css" />
    <link type="text/css" rel="stylesheet" href="css/test-all.css"/>
    <title>Squirrel Test All Components</title>
</head>
<body>
    <div class="test-all-components">
        <!--加载更多-->
        <section id="loadmore">
            <h2>LoadMore</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            滑动页面，该列表会自动加载更多应用列表。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            自动加载 3 次后变为手动点击加载。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            第一次点击加载会报错，再次点击后正常。
                        </label>
                    </div>
                </div>
                <div class="sq-list vertical">
                <ul class="J_ajaxWrap">
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                <li>
                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                    <dl class="description">
                        <dt class="row">UC浏览器9.0不止所见</dt>
                        <dd class="row">32372 人推荐下载</dd>
                        <dd class="row">工具软件 | 8.2MB</dd>
                    </dl>
                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                    <a href="#trigger-area" class="trigger-area"></a>
                </li>
                </ul>
                </div>
                <div class="loadMore J_scrollLoadMore" data-api="data/list.json"></div>
            </div>
        </section>
        <!--延迟加载-->
        <section id="LazyLoad">
            <h2>LazyLoad</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            应用列表前两个测试加载错误，应该显示占位图。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            屏幕可示区域外的图片应该为未加载状态。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            滑动页面，会逐步加载接近可示区域的图片。
                        </label>
                    </div>
                </div>
                <div class="sq-list vertical">
                    <ul>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2012/12/20/9042425-error.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/17/9112852-error.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/24/9120901.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/3/7/9070669.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/2/1/9060536.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2012/12/20/9042425.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/17/9112852.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/24/9120901.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/3/7/9070669.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/2/1/9060536.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2012/12/20/9042425.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/17/9112852-error.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/24/9120901-error.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/3/7/9070669.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/2/1/9060536.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2012/12/20/9042425.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/17/9112852.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/4/24/9120901.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/3/7/9070669.png"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                        <li>
                            <div class="icon"><i><img class="J_lazyload" src="" data-img="http://image.game.uc.cn/2013/2/1/9060536.jpg"/></i></div>
                            <dl class="description">
                                <dt class="row">UC浏览器9.0不止所见</dt>
                                <dd class="row">32372 人推荐下载</dd>
                                <dd class="row">工具软件 | 8.2MB</dd>
                            </dl>
                            <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                            <a href="#trigger-area" class="trigger-area"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--对话框-->
        <section id="dialog">
            <h2>Dialog</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            『单次响应全屏窗口』会铺满全部屏幕（四周设置 20 像素空隙），包含遮罩，并无法滚动页面，单次响应后无法再次响应。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            『固定尺寸窗口』会显示于页面中心，点击『关闭固定窗口』按钮可以关闭该窗口。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            『自动关闭窗口』案例会在点击按钮弹出窗口后 2 秒自动关闭窗口。
                        </label>
                    </div>
                </div>
                <div class="J_showDemo1 full sq-btn f-grey">单次响应全屏窗口</div>
                <div class="space"></div>
                <div class="J_showDemo2 sq-btn f-grey">固定尺寸窗口</div><div class="J_closeBtn sq-btn f-grey">关闭固定窗口</div>
                <div class="space"></div>
                <div class="J_showDemo3 sq-btn f-grey">自动关闭窗口</div>
                <div class="space"></div>
            </div>
        </section>
        <section id="TouchSlip">
            <h2>TouchSlip</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            可以通过触摸操作图片滑动。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            图片会以 5 秒为间隔自动切换。
                        </label>
                    </div>
                </div>
                <div class="touch-img-slider">
                    <ul class="J_imgSlider">
                        <li class="touch-item"><img src="../../docs/static/images/sq-banner.png" /></li>
                        <li class="touch-item"><img src="../../docs/static/images/sq-banner.png" /></li>
                        <li class="touch-item"><img src="../../docs/static/images/sq-banner.png" /></li>
                    </ul>
                    <div class="dot">
                        <i class="active"></i><i></i><i></i>
                    </div>
                </div>
            </div>
        </section>
        <section id="Suggest">
            <h2>Suggest</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            当焦点落在搜索框上，程序即开始监测搜索框是否有变化。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            当用户开始输入字符时，发送联想词请求。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            服务器成功返回数据后展示联想词。
                        </label>
                    </div>
                </div>
                <header class="dpl-searchbar">
                    <form action="search.html">
                        <div class="sq-search-bar simple">
                            <div class="search-input">
                                <input type="text" class="J_searchInput" placeholder="请输入搜索内容" />
                                <div class="clear J_clearInput"></div>
                            </div>
                            <div class="search-btn">
                                <input type="submit" class="sq-btn f-grey" value="搜索" />
                            </div>
                        </div>
                    </form>
                    <div class="suggest-panel J_suggest"></div>
                </header>
            </div>
        </section>
        <section id="Tabs">
            <h2>Tabs</h2>
            <div class="demo">
                <div class="test-key-point">
                    <div class="sq-form">
                        <label class="checkbox">
                            <input type="checkbox" />
                            初始化时，第一个选项卡含有一个应用数据，其它选项卡为空。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            tabs 会自动加载第一个选项卡的内容。
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" />
                            当用户点击第二、三选项卡时，会相应加载该选项卡内容。
                        </label>
                    </div>
                </div>
                <div class="dpl-tabs J_tabs">
                    <ul class="tabs col3">
                        <li>tab 1</li>
                        <li>tab 2</li>
                        <li>tab 3</li>
                    </ul>
                    <div class="panels">
                        <div class="sq-list vertical">
                            <ul class="J_tabLoadWrap">
                                <li>
                                    <div class="icon"><i><img src="../../docs/static/images/sq-icon.png"/></i></div>
                                    <dl class="description">
                                        <dt class="row">UC浏览器9.0不止所见</dt>
                                        <dd class="row">32372 人推荐下载</dd>
                                        <dd class="row">工具软件 | 8.2MB</dd>
                                    </dl>
                                    <div class="extend v-middle"><div class="sq-btn m-grey"><a href="#">免费下载</a></div></div>
                                    <a href="#trigger-area" class="trigger-area"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panels">
                        <div class="sq-list vertical">
                            <ul class="J_tabLoadWrap"></ul>
                        </div>
                    </div>
                    <div class="panels">
                        <div class="sq-list vertical">
                            <ul class="J_tabLoadWrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        var config = {
            "search_API" : "data/suggest.json"
        }
    </script>
    <script type="text/javascript" src="../../libs/zepto/zepto-1.0.min.js"></script>
    <script type="text/javascript" src="../../build/js/squirrel.js"></script>
    <script type="text/javascript" src="js/test-all.js"></script>
    <script type="text/javascript">
        //console.log(SQ.util.dateToString(new Date()));
        
        //SQ.store.localStorage.set("hello", config);
        //console.log(SQ.store.localStorage.get("hello", 5));
        //SQ.store.localStorage.clearAll();
        //SQ.store.localStorage.del("hello");
        //console.log(SQ.store.localStorage.get("hello"));
    </script>
</body>
</html>