.sq-toolbar.header{ padding-left:0; padding-right:0; background-color:#1cb88e; color:#fff;}
.sq-toolbar.header .sq-btn{ width:60px; height:100%; color:#007048; line-height:36px;}
.sq-toolbar.header i[class^="icon-"]{ font-size:1.7em;}

.dropdown-menu{ right:4px;}
.sq-nav-tabs{ background:#fff;}
/*
.dropdown-menu::after{
    content:""; position:absolute; top:-20px; right:10px; width:0; height:0; border:10px solid transparent; border-bottom-color:rgba(0,0,0,.8);
}*/

.music-list li{ border-bottom-color:#eee;}
.music-list .icon{ width:75px; height:75px; background:#f9f6f1;}
.music-list .description dd{ max-height:4em; color:#999; overflow:hidden;}
.music-list .extend{ font-size:1.7em; color:#c0bdb6;}

.sub-nav li.active{ border-bottom-color:#1cb88e}

#detail-template{ display:none;}
.popup-detail{ overflow:hidden;}
.popup-detail .close-btn{ top:5px; right:5px; width:23px; height:23px; border:3px solid #fff; border-radius:30px; background:transparent; color:#fff; font-size:1.5em; line-height:24px; opacity:.9;}
.music-detail{ position:relative;}
.music-detail .album-cover{ position:relative; height:350px; overflow:hidden;}
.music-detail .album-cover img{ display:block; width:100%;}
.music-detail .album-list{ width:100%; overflow:hidden;}
.music-detail .album-list li{ height:40px; padding-left:10px; line-height:40px; border-bottom:1px solid #eee; overflow:hidden;}
.music-detail .album-list a{ display:inline-block; width:70%; color:#333; overflow:hidden;}
.music-detail .active{ background:#f9f6f1;}
.music-detail .album-list .like{ float:right; width:60px; height:40px; color:#fd958a; text-align:center;}

.lyric{ position:absolute; top:0; bottom:0; width:100%; background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.1)),color-stop(.5,rgba(0,0,0,.5)),color-stop(1,rgba(0,0,0,.9))); color:#fff; white-space:pre; line-height:1.5em;  text-align:center; overflow:hidden;}
.lyric blockquote{ position:absolute; width:100%;}
.lyric blockquote h1{ font-size:2em;}

.touch-box-scroll{ position:relative; width:100%; min-height:100px; overflow:hidden;}
.touch-box-scroll ol{ position:absolute; top:0; left:0; width:100%; overflow:hidden;}

.music-list-loadmore{ background:#f9f6f1; color:#999;}

.sq-btn .dropdown-menu{ left:auto; right:2px;}

.go-top-btn{ display:none; width:50px; height:50px; border-radius:40px; background:#1cb88e; line-height:50px; text-align:center; font-size:1.5em; color:#fff;}

.star-roll{
    -webkit-animation-duration: 60s;
    -webkit-animation-name: rollUp;
    -webkit-animation-timing-function: linear
}
@-webkit-keyframes rollUp{
    0% {
        -webkit-transform:translateY(300px);
        transform:translateY(0)
    }
    100% {
        -webkit-transform:translateY(-2000px);
        transform:translateY(-2000px)
    }
}
