//** sq-suggest-panel
//** Suggest ²å¼þÑùÊ½

.suggest-panel{
    display:none; .border-box; position:absolute; top:44px; left:0px; right:0px; background:#f9f9f9; border:1px solid #d7d7d7; z-index:1; box-shadow:0 6px 9px #999;
    li{
        &:last-of-type{ border-bottom:none;}
    }
    .sq-list{
        border-bottom:1px solid #d7d7d7;
        li{ padding:5px 10px;}
        .icon{ width:35px; height:35px;}
        img{ width:35px; height:35px;}
        .description{
            margin-top:1px;
            dt{ margin-bottom:2px;}
            dd{color:#999;}
            em{ margin-left:8px; padding-left:8px; border-left:1px solid #ddd;}
        }
        .sq-btn{ width:45px;}
        .trigger-area{ right:80px;}
    }
    .keyword{
        height:30px; padding:0 10px; line-height:30px; border-bottom:1px solid #d7d7d7;
        a{ display:block; height:30px; line-height:30px; color:#555; overflow:hidden; text-overflow:ellipsis;}
    }
}