//** LESS Variable
//** 定义 less 变量

//** 文字设置
//@font-family:"Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "\u5FAE\u8F6F\u96C5\u9ED1";
@font-family: "Segoe UI", Helvetica, "Lucida Grande", Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
@default-font-color:#333;

@default-font-size:1.6rem;  /* =16px */
@head-font-size:1.8rem;
@title-font-size:1.6rem;
@content-font-size:1.4rem;
@description-font-size:1.2rem;
@badge-font-size:1.2rem;
@form-base-font-size:1.4rem;

@icon-x2-size:2rem;
@icon-x3-size:2.7rem;
@icon-x4-size:4rem;
@icon-x5-size:5rem;

@magic-line-height:1.428571429;

//** Icon 图标
@icon-font-path:"../fonts/";
@icon-font-name:"sq-fontello";

//** 栅格
@screen-sm-min:768px;
@gutter:15px;
@grid-columns:12;
@grid-gutter-width:30px;

//** 布局
@interspace:16px;

//** 组件-列表
@list-icon-width:60px;
@list-icon-height:60px;
@list-padding:16px;

//** 组件-栏
@bar-normal-height:49px;