//==========================================================================================
// LESS Define
// 定义常用 less 模块及片段，也可以定义需要兼容多个现代浏览器的 CSS3 样式
// @version 1.0.0
//==========================================================================================

// 文字及颜色
// font-size
//@small-size: 12px;
//@normal-size: 14px;
//@big-size: 16px;
//@large-size: 18px;

// 盒模型
.border-box (){
    //当计算宽度时包含 padding、border
    -webkit-box-sizing:border-box;
    //-moz-box-sizing:border-box; 
    //box-sizing:border-box;
}
.display-box (){
    display:-webkit-box;
    //display: -moz-box;
    //display: box;
}
.box-orient (@param){
    // horizontal | vertical | inherit
    -webkit-box-orient:@param;
}
.box-pack (@param){
    // start | end | center | justify
    -webkit-box-pack:@param;
}
.box-align (@param){
    // start | end | center | baseline | stretch
    -webkit-box-align:@param;
}
.box-flex (@param){
    // 0 | 任意整数
    -webkit-box-flex:@param;
}

// 圆角
.rounded-corners (@radius: 3px){
    border-radius: @radius;
    //-webkit-border-radius: @radius;
    //-moz-border-radius: @radius;
}

//阴影
.shadow (@param){
    -webkit-box-shadow: @arguments;
     //-moz-box-shadow: @arguments;
    //box-shadow: inset @arguments ;
}

//变形
.transition (@param){
    -webkit-transition: @arguments;
    //-moz-transition: @arguments;
    //-o-transition: @arguments;
    //transition: @arguments;
}

//绝对布局平铺
.overspread (@top: 0, @right: 0, @bottom: 0, @left: 0){
    position:absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

//文字尺寸设置
@head-font-size:18px;
@title-font-size:16px;
@content-font-size:14px;
@description-font-size:12px;
@badge-font-size:10px;