<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link type= "text/css" rel="stylesheet" href="../dist/css/squirrel-min.css" />
    <link type= "text/css" rel="stylesheet" href="css/squirrel-demo.css?v11" />
    <title>Squirrel Demo</title>
</head>
<body>
<div class="wrapper">
    <header class="sq-toolbar header">
        <h2 class="title">Music</h2>
        <a class="sq-btn J_panelMenu" href="#"><i class="icon-th-list"></i></a>
        <div class="sq-btn J_buttonMenu" href="#"><i class="icon-th-large"></i>
            <ul class="dropdown-menu">
                <li><a href="#menu1">menu 1</a></li>
                <li><a href="#menu2">menu 2</a></li>
                <li><a href="#menu3">menu 3</a></li>
            </ul>
        </div>
    </header>
    <section class="index-music">
        <div class="sub-nav J_tabs">
            <ul class="sq-nav-tabs col3 J_fixedNav">
                <li>New</li>
                <li>Popular</li>
                <li>Album</li>
            </ul>
            <div class="sq-tab-content">
                <ul class="sq-list vertical music-list J_ajaxWrap"></ul>
            </div>
            <div class="sq-tab-content">
                <ul class="sq-list vertical music-list J_ajaxWrap"></ul>
            </div>
            <div class="sq-tab-content">
                <ul class="sq-list vertical music-list J_ajaxWrap"></ul>
            </div>
        </div>
        <a href="#" class="go-top-btn J_fixedGoTop"><i class="icon-right-big up"></i></a>
    </section>
</div>



<script id="music-detail" type="text/html">
    <div class="music-detail">
        <div class="album-cover">
            <img src="<%=cover%>" alt="cover"/>
            <div class="lyric">
<blockquote><h1><%=name%></h1><%=#lyric%></blockquote>
            </div>
        </div>
        <div class="album-list">
            <ol>
                <% for (var i = 0; i < albumList.length; i ++) { %>
                <li class="active"><a href="#play"><%=albumList[i].name%></a><a class="like" href="#like"><i class="icon-heart-empty"></i></a></li>
                <% } %>
            </ol>
        </div>
    </div>
</script>


<script id="music-list" type="text/html">
    <% for (var i = 0; i < data.length; i ++) { %>
        <li>
            <div class="icon"><img class="J_lazyload" data-img="<%=data[i].cover%>"/></div>
            <dl class="description">
                <dt class="row-ellipsis"><%=data[i].name%></dt>
                <dd><%=data[i].description%></dd>
            </dl>
            <div class="extend v-middle"><i class="icon-angle-circled-right"></i></div>
            <a href="#trigger-area" class="trigger-area J_popupDetail"></a>
        </li>
    <% } %>
</script>


<script type="text/javascript" src="../libs/zepto/zepto.min.js"></script>
<!--<script type="text/javascript" src="../dist/js/squirrel-min.js?v11"></script>-->
<script type="text/javascript" src="../build/js/squirrel.js?v11"></script>
<script type="text/javascript" src="js/page.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/squirrel-demo.js?v11"></script>
<!--<script>
    // 单击处理函数
    var clickHandle = function(rand){
        console.log("time")
        return function(){
            console.log(rand);
        };
    };

    var main = function(){
        // 获取节点
        var button = document.querySelectorAll(".wrapper");
        // 获取一个随机数
        var rand = Math.random();
        // 获得匿名函数
        var handle = clickHandle(rand);
        // 添加单击事件 把rand传入
        button[0].addEventListener("click", handle);
        // 移除绑定事件
        //button[0].removeEventListener("click", handle);
    };

    window.onload = main;
</script>-->
</body>
</html>
