*{ margin:0; padding:0;}
body{ font: 12px "Helvetica Neue", Helvetica, Arial, sans serif; color: #333; background:url("../images/bg.gif");}
a{ color: #333;}

h1{font-size: 200%;}
h3{font-size: 150%;}
h4{}
/*例子、参数标题*/
h5{font-size: 15px; margin:20px 10px 10px 40px;}
h6{font-size: 100%; font-style: italic;}

/*主显示区*/
#main{ margin-left:232px;}
/*页面标题*/
.page-title{ padding:5px 10px; background:#106cb6; color:#eee; text-shadow:0 -1px 1px #252d38;
	background: #485e78; /* Old browsers */
	background: -moz-linear-gradient(top,  #485e78 0%, #252d38 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#485e78), color-stop(100%,#252d38)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #485e78 0%,#252d38 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #485e78 0%,#252d38 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #485e78 0%,#252d38 100%); /* IE10+ */
	background: linear-gradient(top,  #485e78 0%,#252d38 100%); /* W3C */
}
/*块*/
section{ border-bottom:1px solid #ccc;}
/*二级标题*/
/*header{ display: block; background:#eee; padding:5px; margin-bottom:15px; text-indent:10px; border-top:1px solid #eee; border-bottom:1px solid #BFBFBF;
	background: #fefefe; *//* Old browsers *//*
	background: -moz-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#d7d7d7)); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); *//* IE10+ *//*
	background: linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); *//* W3C *//*
}*/
/*三级标题*/
.subsection-title{ position:relative; padding:10px; font-weight:bold; border-bottom:1px solid #d7d7d7; text-indent:10px; text-shadow:0 1px 1px #fff;}
.subsection-title::after{ content:""; position:absolute; left:0; bottom:-2px; width:100%; height:1px; background:#fff; overflow:hidden;}
/*侧边栏导航*/
/*nav{ position:fixed; top: 0; left: 0; bottom:0; width: 220px; background:url("../images/squirrel.png") bottom no-repeat #E4EBF7; border-right: 1px solid #ccc; padding-left: 10px; overflow:scroll; text-shadow:0 1px 1px #fff;}
nav h1{ line-height:40px;}
nav h3{ margin-top: 12px; padding-left:8px;}
nav li{ margin-top: 6px; padding-left:10px;}
nav a{ color: #5C5954;}*/
/*页脚*/
footer{  display: block; margin:0 10px 15px; /*margin: 0 0 0 232px;*/ text-align:right;}

/*方法名称*/
.name, .signature { margin:25px 20px 10px; font-family: Consolas, "Lucida Console", Monaco, monospace; font-size:170%; /*color:#A35A00;*/ color:#105cb6!important;}
.type-signature {color: #aaa;}

.container-overview{ margin:0px 0px 20px; }
/*
.container-overview>.description{ margin-left:20px;}
.container-overview>.details{ margin-left:20px;}
.container-overview>h5{ margin-left:20px;}
*/

/*描述信息*/
.description{ margin:0px 40px 20px; font-size:14px;}
.class-description{ margin:5px 0 10px; font-size:14px;}
.description.last{ font-size:12px;}
/*细节信息*/
.details { max-width:618px; margin:10px 0 10px 40px; line-height:25px; font-size:12px; border:1px solid #ddd; background:#fff;}
.details dt { width:100px; float:left; border-left: 4px solid #DDD; padding-left: 10px;}
.details ul { list-style-type: none; }
.details li { margin-left: 30px; }

/*代码*/
.syntaxhighlighter{ max-width:600px; padding:10px; margin-left:40px!important; border-radius:3px;}

/*表格*/
.params, .props{ min-width:400px; margin-left:40px; border-spacing: 0; border: 0; border-collapse: collapse; background:#fff;}
.params .name, .props .name, .name code { color: #A35A00; font-family: Consolas, 'Lucida Console', Monaco, monospace; font-size: 100%;}
.params td, .params th, .props td, .props th{ border: 1px solid #ccc; margin: 0px; text-align: left; vertical-align: top; padding: 4px 6px; display: table-cell;}
.params thead tr, .props thead tr{ background-color: #ccc; font-weight: bold;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fefefe), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 1%, #d7d7d7 100%); /* W3C */}
.params .params thead tr, .props .props thead tr{background-color: #fff; font-weight: bold;}
.params th, .props th { border-right: 1px solid #ccc; }
.params thead .last, .props thead .last { border-right: 1px solid #ccc; }

/*返回值*/
.param-desc{ margin-left:40px;}


.ancestors { color: #999; }
.ancestors a{ color: #999 !important; text-decoration: none;}
.important{font-weight: bold; color: #950B02;}
.yes-def{ text-indent: -1000px;}

.code-caption{
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;}



.disabled {
	color: #454545;
}

.variation {
	display: none;
}

.optional:after {
	content: "opt";
	font-size: 60%;
	color: #aaa;
	font-style: italic;
	font-weight: lighter;
}
